@import 'global';
@import 'theme';

.footer {
    min-height: 22vh;
    padding-left: 15%;
    padding-right: 15%;

    background-color: #e5e5e5;
    text-align: center;
}

.footer-icon {
    margin: 2% 2%;

    color: black;

    @media (max-width: $mobile-width) {
        margin-top: 4%;
    }
}

.footer-icon:hover {
    color: $purple-highlight;
}

.footer-link {
    display: inline-block;

    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;

    color: black;
    font-size: 20px;
    text-decoration: none;
}


.footer-link:hover {
    color: $purple-highlight;
}

.footer-disclaimer {
    margin-top: 2%;
    padding-bottom: 1%;
    color: black;
}
