@import 'theme';

.footer {
    min-height: 20vh;
    padding-left: 15%;
    padding-right: 15%;

    background-color: #e5e5e5;
    text-align: center;
}

.footer-icon {
    margin: 3% 3%;

    color: black;
}

.footer-icon:hover {
    color: $purple-highlight;
}

.footer-link {
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;

    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}


.footer-link:hover {
    color: $purple-highlight;
}

.footer-disclaimer {
    margin-top: 3%;
    color: black;
}
