@import 'global';
@import 'theme';

.sign-in-form {
    width: 40%;
}

.team-profile {
    position: relative;
    width: 30vw;
    height: 60vh;

    color: white;
    background-color: $purple-primary;

    @media (max-width: $mobile-width) {
        width: 100%;
        height: 70vh;
    }
}

.team-image {
    width: 100%;
    height: 50vh;

    object-fit: cover;
    object-position: 50% 0;

    @media (max-width: $mobile-width) {
        width: 100%;
        height: 60vh;
    }
}

.team-subtitle {
    position: absolute;
    bottom: 2%;
    width: 100%;

    text-align: center;
}
