@import 'global';
@import 'theme';

.sign-in-form {
    width: 40%;
}

.team-profile {
    position: relative;
    width: 20vw;
    height: 45vh;

    color: white;
    background-color: $purple-primary;

    border-radius: 5px;
    overflow: hidden;

    @media (max-width: $mobile-width) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        width: 80%;
        height: 70vh;
    }
}

.team-image {
    width: 100%;
    height: 80%;

    object-fit: cover;
    object-position: 50% 0;

    @media (max-width: $mobile-width) {
        width: 100%;
        height: 60vh;
    }
}

.team-subtitle {
    text-align: center;
}

.email-text-field {
    width: 50%;
    margin-right: 2.5%;

    @media (max-width: $mobile-width) {
        width: 100%;
        margin-right: 0;
    }    
}

.name-text-field {
    width: 30%;
    margin-right: 2.5%;

    @media (max-width: $mobile-width) {
        width: 65%;
        margin-right: 5%;
    }
}

.zipcode-text-field {
    width: 15%;

    @media (max-width: $mobile-width) {
        width: 30%;
    }
}
