@import 'global';

.website-panel {
    position: relative;
    height: 40vh;

    @media (max-width: $mobile-width) {
        height: 70vh;
        margin-top: 20vh;

        display: flex;
        flex-direction: column-reverse;
    }
}

.website-panel .splitscreen1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
    margin-top: 10vh;

    text-align: center;

    @media (max-width: $mobile-width) {
        position: relative;
        width: 100%;
    }
}

.website-panel .splitscreen2 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40%;

    @media (max-width: $mobile-width) {
        position: relative;
        width: 100%;
    }
}

.website-panel .website-blurb {
    padding-left: 5%;
    padding-right: 5%;
}

.website-panel .website-image {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 5%;

    @media (max-width: $mobile-width) {
        width: 100%;
    }
}

.website-tri-screen {
    margin-left: 10%;
    margin-right: 10%;

    text-align: center;
}

.website-tri-screen .tri-screen {
    margin-top: 10vh;
    margin-left: 5%;
    margin-right: 5%;
}

.website-tri-screen-image {
    width: 15%;
    height: auto;
}
