@import 'global';

.website-panel {

    @media (max-width: $mobile-width) {
        height: initial;
        margin-top: 10vh;
    }
}

.website-panel .splitscreen1 {
    height: 100%;
    width: 55%;

    vertical-align: middle;

    text-align: center;

    @media (max-width: $mobile-width) {
        width: 100%;
        margin: 0;
    }
}

.website-panel .splitscreen2 {
    height: 100%;
    width: 40%;


    vertical-align: middle;

    @media (max-width: $mobile-width) {
        width: 100%;
        margin: 0;
    }
}

.website-panel .website-blurb {
    padding-left: 5%;
    padding-right: 5%;
}

.website-panel .website-image {
    width: 100%;
    max-height: 100%;
    margin-top: 5vh;

    object-fit: cover;
    object-position: 0 0;
}

.website-tri-screen {
    margin-left: 10%;
    margin-right: 10%;

    text-align: center;
}

.website-tri-screen .tri-screen {
    width: 45%;
    margin-top: 10vh;
    margin-left: 1%;
    margin-right: 1%;

    vertical-align: top;

    @media (max-width: $mobile-width) {
        width: 100%;

        display: block;
    }
}

.website-tri-screen-image {
    width: 15%;
    height: auto;
}
